TELEGRAM_BOT_TOKEN=123456:ABC-DEF...

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=game_watcher

SOCKS5_USER=user
SOCKS5_PASS=pass
SOCKS5_HOST=1.1.1.1
SOCKS5_PORT=10000

# Параллельность бота
# CONCURRENCY=1
