TELEGRAM_BOT_TOKEN=123456:ABC-DEF...

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=game_watcher

DOCKER_USERNAME=yourusername

# Параллельность бота (на слабом сервере лучше 1 и 2)
# CONCURRENCY=1
